.contact-page-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.contact-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1400px;
    width: 100%;
    margin-top: 70px;
}

.contact-page-left {
    flex: 1;
    padding: 20px;
    max-width: 45%;
}

.contact-page-logo {
    font-size: 2em;
    color: #ae838e;
}

.contact-page-header {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact-page-text {
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form-row {
    display: flex;
    gap: 15px;
}

.contact-form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contact-form-group label {
    margin-bottom: 5px;
}

.contact-form-group input,
.contact-form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form-group textarea {
    resize: vertical;
    height: 160px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    align-self: flex-start;
}

button:hover {
    background-color: rgb(255, 78, 240);
}

.contact-page-submit-button {
    width: 100%;
    background-color: black;
    color: white;
    transition: background-color 0.5s;
}

.contact-page-right {
    height: 100%;
}

.contact-page-right-image-container {
    max-height: 100dvh;
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100%;
}

.contact-page-right-image {
    width: 100%;
    max-height: 80dvh;
    height: auto;
    flex: 1;
    flex-shrink: 1;
    border-radius: 16px;
    object-fit: cover;
}

input:focus {
    outline: 2px solid rgb(255, 78, 240);
}
textarea:focus {
    outline: 2px solid rgb(255, 78, 240);
}

@media (max-width: 1024px) {
    .contact-page-right {
        display: none;
        width: 0%;
    }
    .contact-page-left {
        width: 85%;
        max-width: 90%;
    }
}