.info-page-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.info-page-section-one {
    width: 1024px;
}

.info-page-header-container {
    width: 1024px;
    height: 440px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    box-sizing: border-box;
    z-index: 2;
    position: relative;
    background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.7)
        ),
        linear-gradient(
            to left,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.7)
        ),
        linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.7)
        );
}

.info-page-grid {
    width: 1024px;
    height: 440px;
    position: absolute;
    background-image: linear-gradient(
            to right,
            rgb(230, 230, 230) 1px,
            transparent 1px
        ),
        linear-gradient(to bottom, rgb(230, 230, 230) 1px, transparent 1px);
    background-size: 80px 80px;
    background-position: center center;
    z-index: 1;
}

.info-page-header {
    font-size: 2.6em;
    font-weight: 500;
    max-width: 20ch;
    text-align: center;
    color: black;
}

.info-page-sub-header {
    margin-top: 24px;
    font-size: 1.3em;
    color: rgb(112, 112, 112);
}

.info-page-section-one-marquee {
    margin-top: 80px;
}

.info-page-section-two {
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
}

.info-page-section-two-header {
    font-size: 2em;
    color: black;
}

.info-page-section-two-text {
    margin-top: 20px;
    font-size: 1.2em;
    color: rgb(85, 85, 85);
    width: 60ch;
    line-height: 1.8;
}

.info-page-section-two-video-container {
    margin-top: 40px;
}

.info-page-section-two-video {
    width: 800px;
    border-radius: 16px;
}

.info-page-section-three {
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    background-image: linear-gradient(to top, rgba(255, 49, 176, 0.05), white);
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 8px;
}

.info-page-section-three-header {
    font-size: 1.7em;
    color: black;
    margin-bottom: 20px;
}

.info-page-section-three-text {
    text-align: center;
    width: 50ch;
    font-size: 1.2em;
    line-height: 1.8;
}

.info-page-section-four {
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.info-page-section-four-header-container {
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.info-page-section-four-header {
    font-size: 1.8em;
    font-weight: 500;
    color: black;
}

.info-page-section-four-card-container {
    width: 1024px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 60px;
}

.info-page-section-four-card-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.info-page-section-four-card-cover {
    position: absolute;
    width: 482px;
    height: 406px;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 1)
    );
    z-index: 2;
}

.info-page-section-four-card {
    position: relative;
    z-index: 1;
    width: 482px;
    height: 404px;
    padding: 3em 3.5em;
    border-radius: 16px;
    background-color: white;
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(233, 233, 233);
    border-width: 1px;
}

.info-page-section-four-card-number {
    font-weight: 600;
    color: rgb(255, 49, 176);
    margin-bottom: 10px;
}
.info-page-section-four-card-header {
    font-size: 1.5em;
    color: black;
    margin-bottom: 12px;
}

.info-page-section-four-card-text {
    line-height: 1.8;
    color: rgb(85, 85, 85);
    font-size: 1em;
}

.second-column {
    margin-top: 120px;
}

@media (max-width: 1024px) {
    .info-page-section-four-card {
        width: 350px;
    }
    .info-page-section-four-card-cover {
        height: 442px;
        width: 350px;
        background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 1)
        );
    }
}

@media (max-width: 800px) {
    .info-page-section-four-card-container {
        flex-direction: column;
        gap: 0px;
        justify-content: center;
        align-items: center;
    }
    .info-page-section-four-card {
        margin: 0px 20px;
        box-sizing: border-box;
        width: 500px;
        height: fit-content;
    }
}

@media (max-width: 500px) {
    .info-page-header {
        font-size: 2em;
    }
    .info-page-sub-header {
        font-size: 1.1em;
        width: 30ch;
        text-align: center;
    }
    .info-page-section-two-header {
        font-size: 1.8em;
    }
    .info-page-section-two-text {
        font-size: 1em;
        width: 40ch;
    }

    .info-page-section-three-header {
        font-size: 1.5em;
    }
    .info-page-section-three-text {
        font-size: 1em;
        width: 40ch;
    }

    .info-page-section-four-card-container {
        gap: 0px;
        justify-content: center;
        align-items: center;
    }

    .second-column {
        margin-top: 100px;
    }
    .info-page-section-four-card {
        width: 350px;
    }
}
